<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://conf-webapp1/GDGS</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://conf-webapp1</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/GDGS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentitySample.Migrations.MySqlHistoryContext" Order="1" Enabled="False">
          <Destination Path="Data Source=127.0.0.1;Initial Catalog=gdgs1;Persist Security Info=True;User ID=root;Password=ve7dkpgi0x" Name="server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IdentitySample.Migrations.MySqlHistoryContext, AspNetIdentity2GRoupPermissions" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="gdgs1Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=127.0.0.1;Initial Catalog=gdgs1;Persist Security Info=True;User ID=root;Password=ve7dkpgi0x" Name="server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IdentitySample.Models.gdgs1Entities, AspNetIdentity2GRoupPermissions" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=127.0.0.1;Initial Catalog=gdgs1;Persist Security Info=True;User ID=root;Password=ve7dkpgi0x" Name="server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IdentitySample.Models.ApplicationDbContext, AspNetIdentity2GRoupPermissions" MigrationConfiguration="IdentitySample.Migrations.Configuration, AspNetIdentity2GRoupPermissions" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gdgs1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string="server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentitySample.Migrations.MySqlHistoryContext-Web.config Connection String">
      <ParameterValue>server=127.0.0.1;user id=root;password=ve7dkpgi0x;persistsecurityinfo=True;database=gdgs1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IdentitySample.Migrations.MySqlHistoryContext" />
  </ItemGroup>
</Project>