<br />
<br />
<br />
<div id="mdivG">
    <br />
    <br />
    <div class="form-group">
        <label class="control-label col-sm-9 col-sm-offset-2" for="name" style="font-size:16px !important">An email has been sent to you, please check your email to reset your password</label>
        <div class="col-sm-4 col-md-4">

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<style>
    #mdiv {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    #mdivG {
        margin: auto;
        width: 800px;
        height: auto;
        padding: 0px;
        background-color: #ffffff;
        border: 2px solid #2a6496;
        border-radius: 5px;
        /*background-image: url('/assets/UN-Logo (1).png');
            background-size: 300px 300px;*/
        background-repeat: no-repeat;
        background-position: 90% 30%;
    }


    #mdiv section {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

