@*
    This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
       This is where you can add, modify, or remove navigation options in your app
       TODO: This preserves the links as-is for the demo, which lead to broken pages!
       It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            @*<div class="pull-left image">
                    <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                </div>*@
            @*<div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>*@
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->


        <ul class="sidebar-menu">
            <li>

            </li>
            @if (Request.IsAuthenticated && User.IsInRole("Unog_Admin") || User.IsInRole("Super_Admin"))
            {
                <li class="treeview">
                    <a href="~/Home/Index">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
            }
            @if (User.IsInRole("Super_Admin") || User.IsInRole("OHCHR_Admin"))
            {

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>UNCTAD</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/UNCTAD/Index"><i class="fa fa-search"></i>Research Paper</a></li>
                        <li><a href="~/UNCTAD/Index"><i class="fa fa-file-word-o"></i>Policy Brief</a></li>
                        <li><a href="~/UNCTAD/Index"><i class="fa fa-book"></i>Publication</a></li>

                    </ul>
                </li>

            }
            @if (Request.IsAuthenticated && User.IsInRole("OHCHR_Admin") || User.IsInRole("Super_Admin") || User.IsInRole("OHCHR_User"))
            {

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>OHCHR</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/OHCHR/Index"><i class="fa fa-file-word-o"></i>Generate From Template</a></li>
                        <li><a href="~/OhchrSymb/Index"><i class="fa fa-file-word-o"></i>Generate From Symbol</a></li>
                       
                    </ul>
                </li>
                
            }
           
            @if (Request.IsAuthenticated && User.IsInRole("UNOG_Admin") || User.IsInRole("Super_Admin") || User.IsInRole("Unog_User") || User.IsInRole("SRT_User"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>UNOG</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Unog/Index"><i class="fa fa-file-word-o"></i>OHCHR Documents</a></li>
                        <li><a href="~/SRT/Index"><i class="fa fa-file-word-o"></i>Summary Records</a></li>

                    </ul>
                </li>


            }
            @if (Request.IsAuthenticated && User.IsInRole("UNOG_Admin") || User.IsInRole("Super_Admin") || User.IsInRole("ECE_User"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>ECE</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/ECE/Index"><i class="fa fa-file-word-o"></i>ECE Generate</a></li>
                    </ul>
                </li>
                
            }
            @if (Request.IsAuthenticated && User.IsInRole("Super_Admin") || User.IsInRole("Unog_Admin") || User.IsInRole("UNON_User"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>UNON</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/UNON/Index"><i class="fa fa-file-word-o"></i>UNON Generate</a></li>
                    </ul>
                </li>

            }
            @if (User.IsInRole("Super_Admin") || User.IsInRole("JIU_User"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>JIU</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/JIU/Index"><i class="fa fa-file-word-o"></i>JIU Generate</a></li>
                    </ul>
                </li>
                
            }
            @if (Request.IsAuthenticated && User.IsInRole("UNOG_Admin") || User.IsInRole("Super_Admin") || User.IsInRole("SR_User"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>Summary Records</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/SR/Index"><i class="fa fa-file-word-o"></i>SR Generate</a></li>
                    </ul>
                </li>
              
            }

            @if (Request.IsAuthenticated && User.IsInRole("Template_Admin") || User.IsInRole("Super_Admin") || User.IsInRole("OHCHR_Admin") || User.IsInRole("UNOG_Admin"))
            {
                <li>
                    <a href="~/UsersAdmin/Index">
                        <i class="fa fa-user-plus"></i> <span>Manage Users</span>
                    </a>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Super_Admin"))
            {
                <li>
                    <a href="~/GroupsAdmin/Index">
                        <i class="fa fa-users"></i> <span>Manage Groups</span>
                    </a>
                </li>
                <li>
                    <a href="~/RolesAdmin/Index">
                        <i class="fa fa-shield"></i> <span>Manage Roles</span>
                    </a>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Template_Admin") || User.IsInRole("Super_Admin"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Manage Template</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/TempType/index"><i class="fa fa-sitemap"></i>Template Types</a></li>
                        <li><a href="~/Comm/index"><i class="fa fa-university"></i>Manage Entities</a></li>
                        <li><a href="~/doct/index"><i class="fa fa-tag"></i>Document Types</a></li>
                        <li><a href="~/Category/index"><i class="fa fa-list"></i>Categories</a></li>
                        <li><a href="~/FinalTemp/index"><i class="fa fa-folder-open"></i>Templates</a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Super_Admin"))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>Administration</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Organaizations/index"><i class="fa fa-share-alt"></i>Organizations</a></li>
                        <li><a href="~/language/index"><i class="fa fa-file-text-o"></i>Document Language</a></li>
                        <li><a href="~/Olang/index"><i class="fa fa-language"></i>Original Languages</a></li>
                        <li><a href="~/Distrbution/index"><i class="fa fa-align-center"></i>Distribution Types</a></li>
                        <li><a href="~/Countries/index"><i class="fa fa-globe"></i>Countries</a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Super_Admin") )
            {

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-database"></i>
                        <span>GDGS Indexing</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/OIndex/Upload"><i class="fa fa-cloud-upload"></i>Index Documents</a></li>
                        <li><a href="~/OIndex/Index"><i class="fa fa-search"></i>Search Indexed Doc</a></li>
                    </ul>
                </li>

            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
@*@if (Request.IsAuthenticated && User.IsInRole("Unog_Admin"))
    {

        <ul class="sidebar-menu">
            <li class="header">gDGS NAVIGATION</li>
            <li class="treeview">
                <a href="~/UNOG/Index">
                    <i class="fa fa-file-word-o"></i>
                    <span>Generate Documents</span>
                </a>
            </li>
            <li>
                <a href="~/UsersAdmin/Index">
                    <i class="fa fa-user-plus"></i> <span>Manage Users</span>
                </a>
            </li>

        </ul>
    }
    @if (Request.IsAuthenticated && User.IsInRole("OHCHR_Admin"))
    {

        <ul class="sidebar-menu">
            <li class="header">gDGS NAVIGATION</li>
            <li class="treeview">
                <a href="~/OHCHR/Index">
                    <i class="fa fa-file-word-o"></i>
                    <span>Generate Documents</span>
                </a>
            </li>
            <li>
                <a href="~/UsersAdmin/Index">
                    <i class="fa fa-user-plus"></i> <span>Manage Users</span>
                </a>
            </li>

        </ul>
    }
    @if (Request.IsAuthenticated && User.IsInRole("Unog_User"))
    {

        <ul class="sidebar-menu">
            <li class="header">gDGS NAVIGATION</li>
            <li class="treeview">
                <a href="~/Unog/Index">
                    <i class="fa fa-file-word-o"></i>
                    <span>Generate Documents</span>
                </a>
            </li>
        </ul>
    }
            @if (Request.IsAuthenticated && User.IsInRole("Template_Admin"))
            {

                <ul class="sidebar-menu">
                    <li class="header">gDGS NAVIGATION</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="~/OHCHR/Index">
                            <i class="fa fa-file-word-o"></i>
                            <span>OHCHR Generate</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="~/Unog/Index">
                            <i class="fa fa-file-word-o"></i>
                            <span>UNOG Generate</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/UsersAdmin/Index">
                            <i class="fa fa-user-plus"></i> <span>Manage Users</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Manage Template</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/TempType/index"><i class="fa fa-sitemap"></i>Template Types</a></li>
                            <li><a href="~/Comm/index"><i class="fa fa-university"></i>Manage Committees</a></li>
                            <li><a href="~/doct/index"><i class="fa fa-tag"></i>Document Types</a></li>
                            <li><a href="~/Category/index"><i class="fa fa-list"></i>Categories</a></li>
                            <li><a href="~/FinalTemp/index"><i class="fa fa-folder-open"></i>Templates</a></li>
                        </ul>
                    </li>
                    </ul>
                    }*@
